<a href="https://colab.research.google.com/github/ninadcpa/DSC630/blob/main/Predictive_Analytics_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predictive Analytics (DSC 630) - Final Project

Term - Fall 2021
Bellevue University

@Author - Ninad Patkhedkar  
@Instructor - Fadi Alsaleem

# MileStone-1

I will work on Individual Project. I will use Python as my preferred coding language for final project.

This subject is for 12 weeks, so I plan to finish the project in 4 milestones having 3 week per milestones. (It may vary/increase based on review comments I receive)

Tentatively I think about task perfomred in each milestone

1. Milestone 1 - Identify dataset and decide what intersting things can be predicted from data set.

2. Milestone 2 - Describe the objective, scope of the project and provide plan about timelines, milestones, risks and risk mitigation details.

3. Milestone 3 - Data Wranggling where will clean up data, handle outliers, rename any fields, derive any new fields

4. Milestone 4 - Feature extraction and apply various Machine Learning models for predictions.

5. Milestone 5 - Re-run and fine tune ML models till satisfaction and Summarize the whole findings as a story with relevant reports.

# MileStone-2

### **Introduction**

#### *Background*

For centuries mankind has completely relied on Fossil Fuels as primary energy source. With improvement of living standards demand for energy source increased and hence consumption also increased. This had couple of side effects  
* Fossil fuel (Hydrocarbon) energy consumption increased carbon emissions causing Global warming  
* Fossil fuel resources depleted considerably and will exhaust very soon

These side effects triggered search for Non-Convensional energy sources. **Solar energy is considered as most aboundantly available resource.** To harvest solar energy efficiently some imprtant factors should be considered for impact like Sunlight availabilty,wind, humidity, temperature etc.

In this project, I will check Solar Radiation dataset and try to determine impact of various factors. Then I will try to build a predictive Model and predict Solar Radiation values give other factors.

#### *Problem Statement*

1. How various factors like humidty, sunlight time, wind speed, and pressure affect the solar radiation value?
2. Predict solar radiation value to determine if solar energy can harvested?

#### *Scope*

* This project will be developed and delivered as individual project.
* This project will delivered in timely manner in 4-5 milestones.
* Dataset is assumed to be accurate.

#### *Document Overview*

This document covers the technical approach, data sources, analysis, model selection/development, expected results, project risks, and the execution of all areas listed above.

### **Requirements**

#### Technical Approach

The approach being used for this project is the Cross Industry Standard Process for Data Mining more commonly known as CRISP-DM. The main objective of this project is to determine factors affecting Solar Energy and predict Solar Radiation value. Multiple unsupervised machine learning techniques will be explored such as Linear and Random Forest Regression. If the models fail to provide accurate results I will focus on obtaining different/more data and try again.

#### *Data Sources*

Dataset is available on Kaggle.

> Dataset URL - https://www.kaggle.com/dronio/SolarEnergy?select=SolarPrediction.csv  
> License - 
Database: Open Database, Contents: Database Contents

These datasets are meteorological data from the HI-SEAS weather station from four months (September through December 2016) between Mission IV and Mission V.

Some features in dataset are

> Solar radiation - Soalr Radiation value in watts per meter^2  
> Temperature - Temperature value in degrees Fahrenheit  
> Humidity - Humidity percent value  
> Barometric pressure - Atmospheric pressure Hg  
> Wind direction - Wind direction in degrees  
> Wind speed - Wind speed in miles per hour  
> Sunrise/sunset - Sunrise and Sunset time (Hawaii timezone)

#### *Requirement Development*

The requirements to complete this project include  

* The data should be accurate  
* Credible
* Complete. No need or very less need to remove or auto fill data   

Software needed to complete this project 
* Python
* I will use cloud based notebook at https://colab.research.google.com

#### *Model Deployment*

I googled a bit and noticed that solar energy predictions are always kind of wrong. Hence I will target low i.e. to build a model that has a minimum acceptance accuracy of 50%. Then I will try to improve accuracy upto 65% by iterating more over the model. 

The Dataset contains continous data and hence will use regression models like Linear Regression, RandomForestRegressor etc.


After the model is trained and debugged it will be deployed. The model will be optimized using different techniques such as gradient boosting. Since this is a solo project I will be in charge of all steps along the development and deployment of this model.

#### *Testing & Evaluation*

I plan to test model for
* Accuracy  
* Precision  
* F1 Score 
* Confusion Matrix

### **Expected Results**

Expecting to extract features which have significant impact on Solar Radiation value. Using this data an accurate model will be developed that can predict future value of Solar radiation without false positives.

### **Execution and Management of Project**

#### *Project Plan*

This subject is for 12 weeks, so I plan to finish the project in 4 milestones having 3 week per milestones. (It may vary/increase based on review comments I receive)

Tentatively I think about task perfomred in each milestone

1. Milestone 1 - Identify dataset and decide what intersting things can be predicted from data set.

2. Milestone 2 - Data Wranggling where will clean up data, handle outliers, rename any fields, derive any new fields

3. Milestone 3 - Feature extraction and apply various Machine Learning models for predictions.

4. Milestone 4 - Re-run and fine tune ML models till satisfaction and Summarize the whole findings as a story with relevant reports.

#### *Project Risk*

Overall in world, Solar Energy harvesting predictions have gone wrong causing increased investments or less ROI. I would have preferred to have location data along with weather data for world wide locations. However the dataset is looks to be for single place (Hawai), hence predictions would be limited for that location. 

Risk is Prediction Model accuracy can be little lower than 80%. 

For Risk mitigation, I am targeting low accuracy value first. I will try to improve accuracy by re-fitting model and will also try to find if any other relevant data is available to predict Solar Radiation values.

# MileStone-3

### Data Loading

In this stage, I will load and describe data. Then will work of data preparation to clean data, fill missing values and handle outlier values.

Dataset file is downloaded from kaggle - https://www.kaggle.com/dronio/SolarEnergy?select=SolarPrediction.csv

and stored on Google Drive under folder "Colab Notebooks/DSC630"

In [1]:
# This code is written for mounting code folder checked out from github on google drive
# All assignment code will be maintained inside folder "DSC630"

from google.colab import drive
import sys
import os

drive.mount('/content/drive')
sys.path.append('/content/drive/MyDrive/Colab Notebooks/DSC630')
os.chdir('/content/drive/MyDrive/Colab Notebooks/DSC630')

Mounted at /content/drive

In [2]:
from __future__ import print_function

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

pd.set_option("display.precision", 2)
# Substitute values used for missing values in dataset
missing_values = ["n/a", "na", "--",""]
# Load the data in pandas dataframe with missing values set to NaN
df = pd.read_csv('SolarPrediction.csv',na_values = missing_values)

Checking how may observations and features are present in dataset.

In [3]:
df.shape

(32686, 11)

So there are are 32k+ observations and 11 features in dataset.

Lets check what features present and what is there data type?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32686 entries, 0 to 32685
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UNIXTime                32686 non-null  int64
 1   Data                    32686 non-null  object
 2   Time                    32686 non-null  object
 3   Radiation               32686 non-null  float64
 4   Temperature             32686 non-null  int64
 5   Pressure                32686 non-null  float64
 6   Humidity                32686 non-null  int64
 7   WindDirection(Degrees)  32686 non-null  float64
 8   Speed                   32686 non-null  float64
 9   TimeSunRise             32686 non-null  object
 10  TimeSunSet              32686 non-null  object
dtypes: float64(4), int64(3), object(4)
memory usage: 2.7+ MB

In [5]:
# Lets check the sample data
df.sample(10)

         UNIXTime                    Data  ... TimeSunRise  TimeSunSet
18641  1479760502  11/21/2016 12:00:00 AM  ...    06:35:00    17:42:00
650    1475031320   9/27/2016 12:00:00 AM  ...    06:13:00    18:15:00
10037  1477205717  10/22/2016 12:00:00 AM  ...    06:20:00    17:54:00
8314   1477724417  10/28/2016 12:00:00 AM  ...    06:22:00    17:51:00
21712  1478838605  11/10/2016 12:00:00 AM  ...    06:28:00    17:45:00
16562  1480385118  11/28/2016 12:00:00 AM  ...    06:39:00    17:42:00
9610   1477334419  10/24/2016 12:00:00 AM  ...    06:21:00    17:53:00
27373  1482407739  12/22/2016 12:00:00 AM  ...    06:53:00    17:49:00
8298   1477729220  10/28/2016 12:00:00 AM  ...    06:22:00    17:51:00
20871  1479090902  11/13/2016 12:00:00 AM  ...    06:30:00    17:44:00

[10 rows x 11 columns]

There appears to be couple of confusing fields i.e Unixtime, Data and Time. Not sure what each fields stands for.

To check this let me convert Unixtime field to readable format for first displayed record

In [10]:
import datetime
import pytz
# Unixtime is for Hawaii timezone so passing timezone as 'US/Hawaii'
datetime_time = datetime.datetime.fromtimestamp(1479760502,tz= pytz.timezone('US/Hawaii'))
datetime_time

datetime.datetime(2016, 11, 21, 10, 35, 2, tzinfo=<DstTzInfo 'US/Hawaii' HST-1 day, 14:00:00 STD>)

Now we got it clarified

Unixtime - Time when radiation was measured in [epoach  time](https://en.wikipedia.org/wiki/Unix_time)  format  
Data - Time when measured data for that day is consolidated and recorded  
Time - Time in hh:mm:ss format when solar radiation was measured

### Information about features

> **Unixtime** - Time when radiation was measured in epoach time  
> **Data** - Time when measured data for that day is consolidated and recorded  
> **Time** - Time in hh:mm:ss format when solar radiation was measured  
> **Solar radiation** - Solar Radiation value in watts per meter^2  
> **Temperature** - Temperature value in degrees Fahrenheit  
> **Barometric pressure** - Atmospheric pressure Hg   
> **Humidity** - Humidity percent value  
> **Wind direction** - Wind direction in degrees  
> **Wind speed** - Wind speed in miles per hour  
> **Sunrise** - Sunrise time (Hawaii timezone)  
> **Sunset** - Sunset time (Hawaii timezone)

### Missing Data

Now lets check if there is any missing data

In [11]:
df.isnull().sum()

UNIXTime                  0
Data                      0
Time                      0
Radiation                 0
Temperature               0
Pressure                  0
Humidity                  0
WindDirection(Degrees)    0
Speed                     0
TimeSunRise               0
TimeSunSet                0
dtype: int64

# MileStone-4

### Docs

In [ ]:
# Code

# MileStone-5

### Docs

In [ ]:
# Code